<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bonsai (v. {{version}})</title>	
    <link rel="stylesheet" href="static/css/main.css" />
  </head>  

  <body>
    <div id="banner">
      <h1>Bonsai - Mobile apps everywhere</h1>
      <p class="lead">We're helping you to make awesome mobile apps in few minutes. For free!</p>
      <div class='demoScreen'>
            <div class='device phone portrait'>
                                <iframe src="static/client/index.html"></iframe>
            </div>
        </div>
    </div>
    <div id="emailform">

    </div>
  </body>
</html>
